# Vraag 1 - Deel 2

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
!wget https://raw.githubusercontent.com/GijsJackersPXL/Smart_systems_Eindoefening/main/Vraag1/imdb.csv

--2023-01-06 09:34:06--  https://raw.githubusercontent.com/GijsJackersPXL/Smart_systems_Eindoefening/main/Vraag1/imdb.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 69204 (68K) [text/plain]
Saving to: ‘imdb.csv’

imdb.csv            100%[===================>]  67.58K  --.-KB/s    in 0.01s

2023-01-06 09:34:06 (4.76 MB/s) - ‘imdb.csv’ saved [69204/69204]

In [3]:
data = pd.read_csv("/content/imdb.csv", sep=',')
df = pd.DataFrame(data)

In [4]:
df.head()

,Rank,Movie_name,Year,Certificate,Runtime_in_min,Genre,Metascore,Gross_in_$_M,Rating_from_10
0,1,The Shawshank Redemption,1994,R,142,Drama,81.0,28.34,9.3
1,2,The Godfather,1972,R,175,"Crime, Drama",100.0,134.97,9.2
2,3,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",84.0,534.86,9.0
3,4,The Lord of the Rings: The Return of the King,2003,PG-13,201,"Action, Adventure, Drama",94.0,377.85,9.0
4,5,Schindler's List,1993,R,195,"Biography, Drama, History",94.0,96.90,9.0

In [5]:
df.isnull().sum()

Rank                0
Movie_name          0
Year                0
Certificate         7
Runtime_in_min      0
Genre               0
Metascore         160
Gross_in_$_M      159
Rating_from_10      0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

Rank              0
Movie_name        0
Year              0
Certificate       0
Runtime_in_min    0
Genre             0
Metascore         0
Gross_in_$_M      0
Rating_from_10    0
dtype: int64

In [8]:
df.shape

(755, 9)

In [9]:
df = df.drop(["Rank", "Movie_name", "Genre", "Certificate"], axis=1)

In [10]:
df["Year"] = pd.to_numeric(df["Year"], errors="coerce")

In [11]:
df["Gross_in_$_M"] = pd.to_numeric(df["Gross_in_$_M"], errors="coerce")

In [12]:
df.dropna(inplace=True)

In [13]:
from sklearn import preprocessing
norm_data = preprocessing.normalize(df, axis=0)
norm_df = pd.DataFrame(norm_data,columns=[df.columns])
print('Normalized Data \n',norm_df.head(10))

Normalized Data
        Year Runtime_in_min Metascore Gross_in_$_M Rating_from_10
0  0.037616       0.042105  0.038523     0.007664       0.043944
1  0.037201       0.051890  0.047559     0.036498       0.043472
2  0.037880       0.045070  0.039949     0.144633       0.042527
3  0.037785       0.059600  0.044705     0.102176       0.042527
4  0.037597       0.057821  0.044705     0.026203       0.042527
5  0.037238       0.059896  0.042803     0.015495       0.042527
6  0.036918       0.028465  0.045656     0.001179       0.042527
7  0.037616       0.045663  0.044705     0.029186       0.042054
8  0.037917       0.043884  0.035193     0.079117       0.041582
9  0.037767       0.053076  0.041376     0.092630       0.041582

In [14]:
X = df.drop('Rating_from_10', axis=1)
y = df['Rating_from_10']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
from tensorflow import keras
import tensorflow as tf

In [19]:
model = keras.Sequential()
model.add(keras.layers.Dense(64, input_shape=(X_train.shape[1],), activation='relu'))
model.add(keras.layers.Dense(32, activation='relu'))
model.add(keras.layers.Dense(4, activation='sigmoid'))

In [20]:
model.compile(optimizer=keras.optimizers.RMSprop(learning_rate=0.002),
              loss=keras.losses.MeanSquaredError(),
              metrics=[keras.metrics.MeanAbsoluteError(), keras.metrics.MeanSquaredError()])

In [21]:
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=10, batch_size=5)

Epoch 1/10
113/113 [==============================] - 2s 4ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 2/10
113/113 [==============================] - 0s 3ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 3/10
113/113 [==============================] - 0s 3ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 4/10
113/113 [==============================] - 0s 4ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 5/10
113/113 [==============================] - 0s 3ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 6/10
113/113 [==============================] - 0s 4ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 7/10
113/113 [==============================] - 0s 3ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 8/10
113/113 [==============================] - 0s 3ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 9/10
113/113 [==============================] - 0s 4ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Epoch 10/10
113/113 [==============================] - 1s 5ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329

In [22]:
# evaluate the keras model
score = model.evaluate(X_train, y_train, batch_size=32)
print('Test loss: ', score[0])
print('Test accuracy: ', score[1])

18/18 [==============================] - 0s 4ms/step - loss: 59.6329 - mean_absolute_error: 7.7045 - mean_squared_error: 59.6329
Test loss:  59.63294219970703
Test accuracy:  7.704513072967529