# Vraag 1 - Deel 3

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
!wget https://raw.githubusercontent.com/GijsJackersPXL/Smart_systems_Eindoefening/main/Vraag1/imdb.csv

--2023-01-05 09:22:49--  https://raw.githubusercontent.com/GijsJackersPXL/Smart_systems_Eindoefening/main/Vraag1/imdb.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 69204 (68K) [text/plain]
Saving to: ‘imdb.csv’

imdb.csv            100%[===================>]  67.58K  --.-KB/s    in 0.01s

2023-01-05 09:22:49 (5.20 MB/s) - ‘imdb.csv’ saved [69204/69204]

In [3]:
data = pd.read_csv("/content/imdb.csv", sep=',')
df = pd.DataFrame(data)

In [4]:
df.head()

,Rank,Movie_name,Year,Certificate,Runtime_in_min,Genre,Metascore,Gross_in_$_M,Rating_from_10
0,1,The Shawshank Redemption,1994,R,142,Drama,81.0,28.34,9.3
1,2,The Godfather,1972,R,175,"Crime, Drama",100.0,134.97,9.2
2,3,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",84.0,534.86,9.0
3,4,The Lord of the Rings: The Return of the King,2003,PG-13,201,"Action, Adventure, Drama",94.0,377.85,9.0
4,5,Schindler's List,1993,R,195,"Biography, Drama, History",94.0,96.90,9.0

In [5]:
df.isnull().sum()

Rank                0
Movie_name          0
Year                0
Certificate         7
Runtime_in_min      0
Genre               0
Metascore         160
Gross_in_$_M      159
Rating_from_10      0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

Rank              0
Movie_name        0
Year              0
Certificate       0
Runtime_in_min    0
Genre             0
Metascore         0
Gross_in_$_M      0
Rating_from_10    0
dtype: int64

In [8]:
df.shape

(755, 9)

In [9]:
df = df.drop(["Rank", "Movie_name", "Genre", "Certificate"], axis=1)

In [10]:
df["Year"] = pd.to_numeric(df["Year"], errors="coerce")

In [11]:
df["Gross_in_$_M"] = pd.to_numeric(df["Gross_in_$_M"], errors="coerce")

In [12]:
df.dropna(inplace=True)

In [13]:
X = df.drop('Rating_from_10', axis=1)
y = df['Rating_from_10']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
df.shape

(707, 5)

In [16]:
import tensorflow as tf

# Load and preprocess the data
(X_train, X_test), (y_train, y_test) = tf.keras.datasets.mnist.load_data()
X_train = X_train / 255.

# Build and compile the GAN
model = tf.keras.Sequential()
model.add(tf.keras.layers.InputLayer(input_shape=(28, 28)))
model.add(tf.keras.layers.Reshape((28, 28, 1)))
model.add(tf.keras.layers.Conv2D(filters=64, kernel_size=3, strides=2, padding='same'))
model.add(tf.keras.layers.LeakyReLU())
model.add(tf.keras.layers.Conv2D(filters=64, kernel_size=3, strides=2, padding='same'))
model.add(tf.keras.layers.LeakyReLU())
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(units=128))
model.add(tf.keras.layers.LeakyReLU())
model.add(tf.keras.layers.Dense(units=28 * 28, activation='sigmoid'))
model.add(tf.keras.layers.Reshape((28, 28, 1)))
model.compile(optimizer='adam', loss='binary_crossentropy')

# Train the GAN
model.fit(X_train, X_train, epochs=5, batch_size=32)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11490434/11490434 [==============================] - 0s 0us/step
Epoch 1/5
1875/1875 [==============================] - 48s 25ms/step - loss: 0.0972
Epoch 2/5
1875/1875 [==============================] - 48s 25ms/step - loss: 0.0691
Epoch 3/5
1875/1875 [==============================] - 49s 26ms/step - loss: 0.0667
Epoch 4/5
1875/1875 [==============================] - 48s 26ms/step - loss: 0.0656
Epoch 5/5
1875/1875 [==============================] - 47s 25ms/step - loss: 0.0650

In [18]:
# Generate synthetic data points
x_synthetic = model.predict(X_train)
x_synthetic = x_synthetic.reshape((60000, 28, 28))

# Compare the real data points to the synthetic data points
differences = X_train - x_synthetic

# Identify any real data points that are significantly different from the synthetic data points
threshold = 0.4
anomalies = differences[differences > threshold]

print(f'Number of anomalies detected: {len(anomalies)}')

1875/1875 [==============================] - 16s 8ms/step
Number of anomalies detected: 10318